body {
	background-color: #bfbfcf
}
h1 {
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 24px;
	color: #333;
}	
#main-page {
	list-style: none;
  	text-align: center;
  	padding: 0;
}
ul {
	display: inline-block;
  	margin-right: 20px;
  	transition: color 0.3s;
}
ul  li a {
	color: #0077b6;
}
